.cursor_pointer {
	cursor: pointer;
}

.margin {
	margin: 10px;
}

.large_bottom_margin {
	margin-bottom: 50px;
}
.padding {
	padding: 15px;
}
.padding_left {
	padding-left: 25px;
}
.text_center {
	text-align: center;
}

a.link:hover,
a.ink:active,
.link {
	cursor: pointer;
	color: black;
	text-decoration: none;
}
